.item{
    width: 300px;
    
}

.item p {
    margin:6px 0px ;
}
.item img{
    width: 280px;
}

.item-prices{
    display: flex;
    gap: 1.2rem;
}

.item-price-new{
    color: #374151;
    font-weight: 600;
    font-size:1rem ;
}

.item-price-old{
    color: #8c8c8c;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.02);
    transition:.6s ;
}