.newsletter{
    width: 66.5%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 40px 140px;
    margin-top: 100px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    gap: 30px;
}

.newsletter h1{
    color: #454545;
    font-size:3rem ;
    font-weight: 600;
}

.newsletter p{
    color: #454545;
    font-size:1.2rem ;
}

.newsletter div{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 1rem;
    font-family: Poppins;
}

.newsletter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

@media (max-width:1280px){
    .newsletter{
        margin-top: 100px;
        padding: 0px 80px;
        margin-bottom: 120px;
        gap: 20px;
    }

    .newsletter h1{
        font-size: 2rem;
    }

    .newsletter p{
        font-size: 1rem;
    }

    .newsletter div{
        width: 600px;
        height: 60px;
    }

    .newsletter div input {
        width: 400px;
    }
    .newsletter div button{
        width: 160px;
        height: 62px;
    }
}

@media (max-width:1024px) {
    .newsletter {
       
        margin-bottom: 60px;
      
    }

    .newsletter h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .newsletter p {
        font-size: 1rem;
    }

    .newsletter div {
        width: 500px;
        height: 50px;
    }

    .newsletter div input {
        width: 300px;
    }

    .newsletter div button {
        width: 160px;
        height: 54px;
    }
}

@media (max-width:800px) {
    .newsletter {
        height: 35vh;
        margin-bottom: 30px;

    }

    .newsletter h1 {
        font-size: 1.4rem;
        text-align: center;
    }

    .newsletter p {
        font-size: 1rem;
    }

    .newsletter div {
        width: 400px;
        height: 40px;
    }

    .newsletter div input {
        width: 200px;
    }

    .newsletter div button {
        width: 140px;
        height: 40px;
        font-size: 1rem;
    }
}

@media (max-width:500px) {
    .newsletter {
        width: 100%;
        margin-top: 60px;
        margin-bottom: 30px;
        padding: 0;
        gap: 15px;
    }

    .newsletter h1 {
        font-size: 1.2rem;
        text-align: center;
    }

    .newsletter p {
        font-size: .8rem;
    }

    .newsletter div {
        width: 320px;
        height: 40px;
    }

    .newsletter div input {
        width: 320px;
    }

    .newsletter div button {
        padding: .2rem .4rem;
        width: 120px;
        height: 40px;
        font-size: .8rem;
    }
}